.nav {
  color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  background-color: var(--background);
  border-bottom: 4px solid var(--primary);
  padding: 1.5rem 0;
}

.navBackLayer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  width: 100vw;
  z-index: 5;
  position: absolute;
}

.searchBox {
  color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: hsl(from var(--secondary) h s calc(l - 14));
  border-radius: 20px;
  padding: 0.5rem 0 0.5rem 1rem;

  transition: outline 100ms ease-in-out, scale 200ms ease-in-out;
  &:focus-visible {
    scale: 1.1;
    outline: 2px solid var(--accent);
  }
}

.searchBoxForm {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 0.5rem;
}

/* menu pop-up */
.menuBox {
  height: auto;
  padding: 1rem;
  width: auto;
  z-index: 5;
  background-color: hsl(from var(--secondary) h s calc(l - 14));
  color: var(--text);

  border-radius: 1rem;
  /* transform: translateY(-1.5rem); */
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  column-gap: 1rem;
  margin-right: 1rem;

  * {
    cursor: pointer;
    transition: filter 100ms ease-in-out;
    &:hover {
      filter: brightness(60%);
    }
    &:active {
      filter: brightness(40%);
    }
  }
}

.button,
.searchButton {
  /* color: #f0f5f9; */
  padding: 0.3rem 1rem;
  border-radius: 1000px;
  background-color: hsl(from var(--secondary) h s calc(l - 14));
  transition: filter 200ms ease-in-out;
  cursor: pointer;
  &:hover {
    filter: brightness(90%);
  }
  &:active {
    filter: brightness(75%);
  }
}

.searchButton {
  background-color: var(--accent);
}

/* Prevents search box from overlapping search button when clicked on - I don't know if this is fully centered though */
@media screen and (min-width: 900px) {
  .searchBoxForm {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 3rem;
    position: relative;
  }

  .nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .searchButton {
    display: flex;
    justify-content: center;
    width: 40%;
  }
}
/* 
.animate__fadeInDown {
  --animate-duration: 50s;
} */
