.tagResult {
  display: flex;
  flex-direction: column;
  align-items: wrap;
  justify-content: space-evenly;
  gap: 0.2rem;
  /* background-color: var(--accent); */
  /* border: 1px solid black; */
  width: auto;
  margin-bottom: 2px;
  padding: 0.2rem;
  border-radius: 20px;
  margin: 2px;
  max-height: 250px;
  overflow-y: auto;
}

.tagList {
  background-color: hsl(from var(--secondary) h s calc(l - 12));
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  padding: 0.5rem 0.8rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  width: 100%;
  border-radius: 12px;
  color: white;

  transition: filter 200ms ease-in-out;
  &:hover {
    filter: brightness(120%);
  }
  &:active {
    filter: brightness(75%);
  }
}

.tagBox {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.popoverContent {
  width: 100%;
  /* border: 1px dashed red; */
  padding: 0;
}
