.title {
  background-color: hsl(from var(--background) h s calc(l + 4) / 50%);
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: hsl(from var(--text) h s l / 90%);
}

.user {
  margin: 0.5rem 0 0 0.25rem;
  font-size: 0.75rem;
  color: hsl(from var(--text) h s l / 75%);
}

.infoBox {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* margin: 0.25rem 0; */
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  /* doesnt like height: 100% for some reason */
  height: -webkit-fill-available;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 100%;
}

.body {
  background-color: hsl(from var(--background) h s calc(l - 8));
}

.tagBox {
  background-color: white;
}

@media (prefers-color-scheme: light) {
  .infoBox {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .name {
    color: white;
  }
}

@media screen and (min-width: 900px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    row-gap: 0.25rem;
    padding: 0.5rem 0.75rem;

    min-height: 16dvh;
    height: fit-content;
    width: 20dvw;
  }
}
